#!/bin/sh

PATH_add ./node_modules/.bin

export WORKER_URL=`jq -r ".routes[0]" wrangler.jsonc | grep -Po '^.*(?=\/\*)'`
export BASE_WORKER_URL=`echo $WORKER_URL | grep -Po '(?<=\/\/).*'`

# Allow local overrides for development
source_env_if_exists .envrc.local