#!/bin/sh

PATH_add ./node_modules/.bin

# Load variables from .env file
dotenv

# Set production URL by default
export WORKER_NAME=$(jq -r ".name" ./wrangler.jsonc)
export WORKER_URL="$WORKER_NAME.$WORKER_SUBDOMAIN.workers.dev"
export WORKER_PROTOCOL="wss"

# Allow local overrides for development
source_env_if_exists .envrc.local