#!/bin/sh

PATH_add ./node_modules/.bin

export BASE_WORKER_URL=`jq -r ".routes[0].pattern" wrangler.jsonc`
export WORKER_URL=https://$BASE_WORKER_URL

# Allow local overrides for development
source_env_if_exists .envrc.local